{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fondos Comparados</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontello.css' %}" rel="stylesheet">
    <link href="{% static 'css/fondoscompartidos.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#" style="margin-right:30px;"><img src="{% static 'img/logo.png' %}"></a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="https://twitter.com/hashtag/LaRutaDelDinero?src=hash" target="_blank">#LaRutaDelDinero</a></li>
                    <li><a href="https://twitter.com/hashtag/FondosComparados?src=hash" target="_blank">#FondosComparados</a></li>
                    <li><a href="https://twitter.com/hashtag/HHros?src=hash" target="_blank">#HHRos</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </div>
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                    <div class="row thumbnail">
                        <div class="col-sm-12 p10">
                        <span style="font-size:12px; font-weight:700; padding-right:10px;">Seleccionar año:</span>
                            {#Refactor this #}
                            {% if year == 2006 %}<span class="actual">2006</span>{% else %}<a href="?year=2006">2006</a>{% endif %}
                            {% if year == 2007 %}<span class="actual">2007</span>{% else %}<a href="?year=2007">2007</a>{% endif %}
                            {% if year == 2008 %}<span class="actual">2008</span>{% else %}<a href="?year=2008">2008</a>{% endif %}
                            {% if year == 2009 %}<span class="actual">2009</span>{% else %}<a href="?year=2009">2009</a>{% endif %}
                            {% if year == 2010 %}<span class="actual">2010</span>{% else %}<a href="?year=2010">2010</a>{% endif %}
                            {% if year == 2011 %}<span class="actual">2011</span>{% else %}<a href="?year=2011">2011</a>{% endif %}
                            {% if year == 2012 %}<span class="actual">2012</span>{% else %}<a href="?year=2012">2012</a>{% endif %}
                            {% if year == 2013 %}<span class="actual">2013 (1º semestre)</span>{% else %}<a href="?year=2013">2013 (1º semestre)</a>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row thumbnail">
                        <div class="col-sm-3">
                            <div class="centrado2"><i class="icon-santafe gde afinidad-{{ sf.0.afinidad }}"></i></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-money items"></i>
                                        <div class="nro">{{ sf.0.monto }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-home items pt5"></i>
                                        <div class="nro2 pt4">1340 unidades</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado">
                                    <div class="nro3 pt7">0,28%</div>
                                    <div class="nro4 pt13">Deficit Habitacional</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row thumbnail">
                        <div class="col-sm-3">
                            <div class="centrado2"><i class="icon-entrerios gde afinidad-{{ er.0.afinidad }}"></i></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-money items"></i>
                                        <div class="nro">{{ er.0.monto }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-home items pt5"></i>
                                        <div class="nro2 pt4">1340 unidades</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado">
                                    <div class="nro3 pt7">0,28%</div>
                                    <div class="nro4 pt13">Deficit Habitacional</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row thumbnail">
                        <div class="col-sm-3">
                            <div class="centrado2"><i class="icon-cordoba gde afinidad-{{ cba.0.afinidad }}"></i></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-money items"></i>
                                        <div class="nro">{{ cba.0.monto }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado"><i class="icon-home items pt5"></i>
                                        <div class="nro2 pt4">1340 unidades</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt10 pb10">
                                    <div class="centrado">
                                    <div class="nro3 pt7">0,28%</div>
                                    <div class="nro4 pt13">Deficit Habitacional</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row thumbnail">
                        <div class="col-sm-12 p10">
                            <div class="pull-left"><div class="ref1"></div><span class="reftext">Afin al gobierno nacional</span></div>
                            <div class="separador">|</div>
                            <div class="pull-left"><div class="ref2"></div><span class="reftext">Neutral</span></div>
                            <div class="separador">|</div>
                            <div class="pull-left"><div class="ref3"></div><span class="reftext">No afin al gobierno nacional</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>